.vl-shown {
    overflow: hidden;
}

.vl-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    display: none;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
}

.vl-overlay.vl-active {
    display: flex;
}

.vl-overlay.vl-full-page {
    z-index: 9999;
    position: fixed;
}

.vl-overlay .vl-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
    @apply bg-gray-200 dark:bg-gray-800
}

.vl-overlay .vl-icon, .vl-parent {
    position: relative;
}

